/* Typography */
.wufoo .field {
  font-size: 16px;
  line-height: 24px;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
 
/* General */
.wufoo {
  letter-spacing: normal;
}

form.wufoo {
  max-width: 750px;
  padding-left: 1px;
}

form.wufoo ul {
  margin-top: 40px;
}

.wufoo li {
  margin-bottom: 25px;
  padding: 0;
}

form li.leftHalf,
form li.rightHalf {
    width: 50% !important;
}

.wufoo li.rightHalf input.text {
  float: right;
}

.wufoo li.buttons {
  margin: 50px 0 0;
  padding: 0;
}

.wufoo li.focused {
  background-color: transparent;
}

.wufoo li.focused div label,
.wufoo li.focused label.desc {
  color: #69645f;
}
 
.wufoo .field {
  padding: 7px 15px;
  font-size: 16px;
  border: 1px solid #b7b4ae;
  box-sizing: border-box;
}

.wufoo .field:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
 
.wufoo input.text,
.wufoo input.search,
.wufoo textarea.textarea {
  background: none;
}

.wufoo input.text {
  max-width: 360px;
}

.wufoo textarea.textarea {
  resize: none;
}
 
.wufoo #header.info {
  display: none;
}
 
.wufoo label.desc {
  display: inline-block;
  width: auto;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: Lato;
  color: #69645f;
}

.wufoo label.desc .req {
  color: #a94442 !important;
}
 
.wufoo .submit {
  display: inline-block;
  padding: 13px 30px;
  border: 0;
  border-radius: 2px;
  background-color: #f60;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.wufoo .submit:hover {
  background-color: #ff7f0b;
}