.wufoo {
  max-width: 750px;
  padding-left: 1px;
  letter-spacing: normal
}
.wufoo #header.info {
  display: none
}
.wufoo input.search,
.wufoo input.text,
.wufoo textarea.textarea {
  background: 0 0
}
.wufoo input.text {
  width: 100%;
  max-width: 360px
}
.wufoo textarea.textarea {
  resize: none
}
.wufoo label.desc,
.wufoo legend.desc {
  display: inline-block;
  width: auto;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: Lato;
  color: #69645f
}
.wufoo label.desc .req,
.wufoo legend.desc .req {
  color: #a94442!important
}
.wufoo label.choice,
.wufoo legend.choice {
  margin: 5px 0;
  padding-bottom: 0;
  font-size: 16px
}
.wufoo fieldset legend.desc {
  margin-bottom: 15px
}
.wufoo .field {
  font-size: 16px;
  line-height: 24px;
  font-family: Lato,Arial,Helvetica,sans-serif;
  padding: 7px 15px;
  font-size: 16px;
  border: 1px solid #b7b4ae;
  box-sizing: border-box
}
.wufoo .field:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.wufoo ul {
  margin-top: 40px
}
.wufoo li {
  width: 100%;
  margin-bottom: 25px;
  padding: 0
}
.wufoo li.buttons {
  margin: 40px 0 50px;
  padding: 0
}
@media (min-width:992px) {
  .wufoo li.buttons {
    margin: 50px 0 70px;
    padding: 0
  }
}
.wufoo li.focused {
  background-color: transparent
}
.wufoo li.focused div label,
.wufoo li.focused label.desc,
.wufoo li.focused legend.desc {
  color: #69645f
}
.wufoo form.wufoo li.leftHalf,
.wufoo form.wufoo li.rightHalf {
  width: 100%!important
}
@media (min-width:720px) {
  .wufoo form.wufoo li.leftHalf,
  .wufoo form.wufoo li.rightHalf {
    width: 47%!important
  }
}
@media (min-width:1200px) {
  .wufoo form.wufoo li.leftHalf,
  .wufoo form.wufoo li.rightHalf {
    width: 50%!important
  }
}
.wufoo form.wufoo li.rightHalf .desc {
  margin-left: 15px
}
.wufoo form.wufoo li.rightHalf input.text {
  float: right
}
.wufoo .submit {
  display: inline-block;
  padding: 13px 30px;
  border: 0;
  border-radius: 2px;
  background-color: #f60;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer
}
.wufoo .submit:hover {
  background-color: #ff7f0b
}
input[type=checkbox],
input[type=radio] {
  display: none
}
input[type=checkbox] + label,
input[type=radio] + label {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  line-height: 24px;
  font-family: Lato,Arial,Helvetica,sans-serif;
  color: #69645f;
  cursor: pointer
}
@media (min-width:768px) {
  input[type=checkbox] + label,
  input[type=radio] + label {
    padding-left: 30px
  }
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #64695f;
  background-color: #fff;
  color: #fff;
  text-align: center
}
@media (min-width:768px) {
  input[type=checkbox] + label:before,
  input[type=radio] + label:before {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    font-size: 12px
  }
}
input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  content: "";
  padding-top: 1px;
  border-color: #f60;
  background: #f60 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAfUlEQVQ4jeXQsQnCQBgF4HA72CQziJIFsoCoc9hlG0dyBV3AIhhstfkstDiOEy5aia/8ed87uKr6r2CG7lPc4OSZ/hsMV4S0FLDDPLnXCb5hk3tl/yqMaCN8LMEB56h4waoIRyMLDPK5Y1vyWbmRMvxmZBqORpY4YD0Z/14eHBvxRHakoFEAAAAASUVORK5CYII=) no-repeat
}
@media (min-width:768px) {
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before {
    padding-top: 0
  }
}
input[type=radio] + label:before {
  border-radius: 50%
}