/* Typography */
.wufoo .field {
  font-size: 16px;
  line-height: 24px;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
 
/* General */
.wufoo li {
  padding: 0;
}

.wufoo li.focused {
  background-color: none; 
}
 
.wufoo .field {
  border: 1px solid #b7b4ae;
  box-sizing: border-box;
}
 
.wufoo input.text,
.wufoo input.search,
.wufoo textarea.textarea {
  background: none;
}
 
.wufoo #header.info {
  display: none;
}
 
.wufoo label.desc {
  font-weight: 400 18px/27px;
  color: #69645f;
}

.wufoo label.desc .req {
  color: #a94442;
}
 
.wufoo .submit {
  display: inline-block;
  padding: 10px 30px;
  border: 0;
  border-radius: 2px;
  background-color: #f60;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}