.wufoo {
  max-width: 750px;
  padding-left: 1px;
  letter-spacing: normal;

  #header.info {
    display: none;
  }

  input.text,
  input.search,
  textarea.textarea {
    background: none;
  }

  input.text {
    width: 100%;
    @media (min-width: 720px) {
      max-width: 360px;
    }
  }

  textarea.textarea {
    resize: none;
  }

  label,
  legend {
    &.desc {
      display: inline-block;
      width: auto;
      margin-bottom: 5px;
      padding: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      font-family: Lato;
      color: #69645f;

      .req {
        color: #a94442 !important;
      }
    }

    &.choice {
      margin: 5px 0;
      padding-bottom: 0;
      font-size: 16px;
    }
  }

  fieldset {
    legend {
      &.desc {
        margin-bottom: 15px;
      }
    }
  }

  .field {
    font-size: 16px;
    line-height: 24px;
    font-family: Lato, Arial, Helvetica, sans-serif;

    padding: 7px 15px;
    font-size: 16px;
    border: 1px solid #b7b4ae;
    box-sizing: border-box;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }
  }

  ul {
    margin-top: 40px;
  }

  li {
    width: 100%;
    margin-bottom: 25px;
    padding: 0;

    &.buttons {
      margin: 40px 0 50px;
      padding: 0;
      @media (min-width: 992px) {
        margin: 50px 0 70px;
        padding: 0;
      }
    }

    &.focused {
      background-color: transparent;
      
      span,
      div label,
      label.desc,
      legend.desc {
        color: #69645f;
      }
    }

    &.twoColumns {
      div {
        span {
          width: 100%;
          margin-right: 0;
        }
      }
    }

    span {
      color: #64695f;
    }
  }

  @at-root form#{&} {
    li {
      &.leftHalf,
      &.rightHalf {
        width: 100% !important;
        @media (min-width: 720px) {
          width: 47% !important;
        }
        @media (min-width: 1200px) {
          width: 50% !important;
        }
      }

      &.rightHalf {
        .desc {
          //margin-left: 15px;
        }

        input.text {
          float: right;
        }
      }
    }
  }

  .submit {
    display: inline-block;
    padding: 13px 30px;
    border: 0;
    border-radius: 2px;
    background-color: #f60;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: #ff7f0b;
    }
  }
}

input[type=radio],
input[type=checkbox] {
  display: none;

  + label {
    position: relative;
    padding-left: 35px;
    font-size: 16px;
    line-height: 24px;
    font-family: Lato,Arial,Helvetica,sans-serif;
    color: #69645F;
    cursor: pointer;
    @media (min-width: 768px) {
      padding-left: 30px;
    }
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 2px;
      border: 2px solid #64695f;
      background-color: #fff;
      color: #fff;
      text-align: center;
      @media (min-width: 768px) {
        width: 15px;
        height: 15px;
        margin-top: 4px;
        font-size: 12px;
      }
    }
  }

  // checked
  &:checked {
    + label {
      &:before {
        content: "";
        padding-top: 1px;
        border-color: #f60;
        background: #f60 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAfUlEQVQ4jeXQsQnCQBgF4HA72CQziJIFsoCoc9hlG0dyBV3AIhhstfkstDiOEy5aia/8ed87uKr6r2CG7lPc4OSZ/hsMV4S0FLDDPLnXCb5hk3tl/yqMaCN8LMEB56h4waoIRyMLDPK5Y1vyWbmRMvxmZBqORpY4YD0Z/14eHBvxRHakoFEAAAAASUVORK5CYII=') no-repeat;
        @media (min-width: 768px) {
          padding-top: 0;
        }
      }
    }
  }
}

input[type=radio] {
  + label {
    &:before {
      border-radius: 50%;
    }
  }
}

input[type=file] {
  &:focus {
    box-shadow: none;
  }
}